#menu-primary {
    display: flex;
    justify-content: space-between;
    line-height: 0;
    align-items: center;

    font: var(--h2);
    padding-block: 20px;

    div {
        display: flex;
        align-items: center;
        gap: 8px;
    }
}

#menu-secondary {
    justify-content: space-between;
    padding-block: 14px;
    border-block: 1px solid var(--stroke-color);

    font: var(--text-span);
    color: var(--text-color-secondary);
}

@media (width <= 48em){
    #menu-secondary {
        gap: 32px;
        overflow-x: scroll;
        white-space: nowrap;
    }
}