.grid {
    display: grid;
}

.grid-auto-column {
    grid-auto-flow: column;
}

.grid-column-2 {
    grid-template-columns: 1fr 1fr;
}

.gap-16 {
    gap: 16px;
}

.title-2xl {
    font: var(--h1);
}

.title-xl {
    font: var(--h2);
}

.title-lg {
    font: var(--h3);
}


.content-tag {
    font-weight: 500;
    font-size: 10px;
    display: inline-block;
    padding: 4px 8px;
    background-color: var(--brand-color-dark);
    border-radius: 4px;
    text-transform: uppercase;
    letter-spacing: 0.04em;
    color: var(--text-color-primary);

    box-shadow: 0px 4px 16px rgba(2, 6, 23, 0.25);
}